dc1d/__pycache__/__init__.cpython-38.pyc
dc1d/__pycache__/__init__.cpython-39.pyc
dc1d/__pycache__/nnet.cpython-38.pyc
dc1d/__pycache__/nnet.cpython-39.pyc
dc1d/__pycache__/ops.cpython-38.pyc
dc1d.egg-info/dependency_links.txt
dc1d.egg-info/entry_points.txt
dc1d.egg-info/PKG-INFO
dc1d.egg-info/SOURCES.txt
dc1d.egg-info/top_level.txt
dist/
dc1d/__pycache__/
core.*
build_upload_test.sh
build_upload.sh
**/*.txt
